.para2 {
  padding-top: 90px;
  padding-left: 148px;
  font-size: 1rem;
}

#two-words { 
  font-size:70px;
  padding-left:140px;
}

#word-green {
  color: #2ca01c;
}

#green-button {
  color: white;
  background-color: #2ca01c;
  border-style: none;
  border-radius: 4px;
  height: 60px;
  width: 100px;
  margin-left: 140px;
  margin-bottom: 135px;
}

.dashboard {
  height: 290px;
  float: right;
  padding-right:100px;
}

#para3 {
  font-size: 40px;
  padding-left: 430px;
}

#par3 {
  font-size: 40px;
}