.line2 {
  padding-left: 100px;
}

.img3 {
  padding-left: 64px;
  padding-right: 36px;
  padding-top: 34px;
  height: 85px;
  width: 125px;
}

.word3 {
  padding-right: 22px;
  font-size: 25px;
}

.container2{
  display: grid;
  grid-template-columns: 33.3% 33.3 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
}

.img4 {
 padding-top: 80px;
 padding-left: 310px;
 height: 100px;
 width: 120px;
}

.word4 {
  padding-left:300px;
  font-size: 25px;
}