.line4 {
  padding-left: 280px;
}

.img5 {
  padding-top: 80px;
  padding-left: 160px;
  height: 100px;
  width: 120px;
}

.word5 {
  padding-left: 125px;
  font-size: 25px;
}

.line5 {
  padding-left: 100px;
}

.img6 {
  padding-top: 70px;
  padding-left: 75px;
  height: 110px;
  width: 120px;
}

.word6 {
  padding-left: 40px;
  font-size: 25px;
}

.line6 {
  padding-left: 20px;
}